* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  height: 100vh;
  font-family: "Galano Grotesque", sans-serif;
}
:root {
  --Primary-Sea-Blue: #4d6ee4;
  --Secondary-Pale-Green: #dff6e4;
  --Primary-Night-Blue: #2e279d;
  --Neutral-Grey: #aaa;
  --dark: #252525;
  --white: #fff;
}
a {
  text-decoration: none;
}
.heading {
  display: flex;
  flex-direction: column;
  color: var(--dark);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  height: 150px;
  margin-bottom: 16px;

  .nav-btn {
    width: 121px;
    height: 46px;
    background: var(--Primary-Sea-Blue);
    margin-right: 122px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:hover {
      background: #294fd9;
    }
  }

  .nav-logo img {
    width: 174px;
    height: 47px;
    margin-left: 122px;
    flex-shrink: 0;
  }
}

.button-style {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 136px;

  .left-column img {
    width: 350px;
    height: 673px;
    margin-bottom: 61px;
    flex-shrink: 0;
    opacity: 0.6;
  }
  .right-column img {
    width: 350px;
    height: 673px;
    opacity: 0.6;
  }
  .middle-column {
    display: flex;
    flex-direction: column;
    width: 486px;
    margin-top: 32px;
    margin-bottom: 131px;

    p {
      color: var(--dark);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    form {
      display: flex;
      gap: 20px;
      width: 100%;
      flex-direction: column;
      margin-top: 100px;
      margin: auto;

      .login-btn {
        background: var(--Primary-Sea-Blue);
        color: var(--white);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      h2 {
        color: #252525;
        text-align: start;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        opacity: 0.5;
      }

      button {
        width: 467px;
        height: 48px;
        flex-shrink: 0;
      }

      input {
        width: calc(100% - 20px);
        box-sizing: border-box;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid var(--Neutral-Grey);
        height: 22px;
      }
    }
  }
}

@media (max-width: 1280px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 16px;

    .nav-logo {
      img {
        width: 180px;
        height: 47px;
        margin-left: 22px;
        flex-shrink: 0;
      }
    }
    .nav-btn {
      width: 100px;
      height: 40px;
      background: var(--Primary-Sea-Blue);
      border: none;
      outline: none;
      cursor: pointer;
      margin-right: 22px;
      border-radius: 8px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transition: all 300ms ease-in-out;
      color: #fff;
      font-size: 16px;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &:hover {
        background: #294fd9;
      }
    }
  }

  main {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-column,
  .right-column {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 1; /* Ensure they overlap the middle column */
  }
  .left-column {
    left: 0;
    width: 120px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right-column {
    right: 0;
    width: 120px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .middle-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    position: relative; /* Ensure it overlaps the left and right columns */
    z-index: 2;

    img {
      display: flex;
      align-self: flex-start;
      margin-left: 10px;
    }

    p {
      color: var(--dark);
      display: flex;
      align-self: flex-start;
      margin-top: 10px;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .heading {
    color: var(--dark);
    display: flex;
    align-self: flex-start;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 52px */
  }

  form {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-btn {
      background: var(--Primary-Sea-Blue);
      color: var(--white);
      text-align: center;
      font-size: 16px;
      padding: 5px 15px;
      width: 100%;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    h2 {
      color: #252525;
      text-align: start;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      border-radius: 8px;
      border: 1px solid var(--Neutral-Grey);
      height: 22px;
    }

    button {
      box-sizing: border-box;
      width: 100%;
      height: 48px;
    }
  }
}

@media (max-width: 760px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 16px;

    .nav-btn {
      width: 90px;
      height: 40px;
      background: var(--Primary-Sea-Blue);
      border: none;
      outline: none;
      cursor: pointer;
      margin-right: 22px;
      border-radius: 8px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transition: all 300ms ease-in-out;
      color: #fff;
      font-size: 16px;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &:hover {
        background: #294fd9;
      }
    }
    .nav-logo {
      img {
        width: 120px;
        height: 47px;
        margin-left: 22px;
        flex-shrink: 0;
      }
    }
  }

  main {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-column,
  .right-column {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 1; /* Ensure they overlap the middle column */
  }
  .left-column {
    left: 0;
    width: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right-column {
    right: 0;
    width: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .middle-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80vw;
    height: 100%;
    position: relative; /* Ensure it overlaps the left and right columns */
    z-index: 2;

    form {
      display: flex;
      gap: 20px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;

      h2 {
        color: #252525;
        text-align: start;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      button {
        width: 100vh;
        height: 48px;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid var(--Neutral-Grey);
        height: 22px;
      }
    }

    p {
      color: var(--dark);
      margin-top: 10px;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    img {
      margin-bottom: 20px;
    }
  }

  .heading {
    color: var(--dark);
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 52px */
  }

  .login-btn {
    background: var(--Primary-Sea-Blue);
    color: var(--white);
    text-align: center;
    font-size: 16px;
    width: 100%;
    font-style: normal;
    padding: 5px 15px;
    font-weight: 700;
    line-height: normal;
  }
}
