* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  height: 100vh;
  font-family: "Galano Grotesque", sans-serif;
}
:root {
  --Primary-Sea-Blue: #4d6ee4;
  --Secondary-Pale-Green: #dff6e4;
  --Primary-Night-Blue: #2e279d;
  --Neutral-Grey: #aaa;
  --dark: #252525;
  --white: #fff;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  height: 150px;
  margin-bottom: 16px;
}
.nav-logo img {
  width: 174px;
  height: 47px;
  margin-left: 122px;
  flex-shrink: 0;
}
.button-style {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
.nav-btn {
  width: 121px;
  height: 46px;
  background: var(--Primary-Sea-Blue);
  margin-right: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-btn:hover {
  background: #294fd9;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 136px;
}
.left-column img {
  width: 350px;
  height: 673px;
  margin-bottom: 61px;
  flex-shrink: 0;
  opacity: 0.6;
}
.right-column img {
  width: 350px;
  height: 673px;
  opacity: 0.6;
}
.middle-column {
  display: flex;
  flex-direction: column;
  width: 486px;
  margin-top: 32px;
  margin-bottom: 131px;
}
form {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  margin-top: 100px;
}
form input {
  width: calc(100% - 20px);
  box-sizing: border-box;
  padding: 20px;
}
.heading {
  color: var(--dark);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
}
.middle-column p {
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  height: 44px;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  opacity: 0.8;
}
form input {
  border-radius: 8px;
  border: 1px solid var(--Neutral-Grey);
  height: 22px;
}
.name {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 467px;
}
.name input {
  width: 223px;
  height: 48px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--Neutral-Grey);
}
form button {
  width: 467px;
  height: 48px;
  flex-shrink: 0;
}
.login-btn {
  background: var(--Primary-Sea-Blue);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 467px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.forgot-password {
  color: var(--Primary-Night-Blue);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.signin-btn {
  position: relative;
  display: inline-block;
  color: var(--Primary-Night-Blue);
  text-align: center;
  font-family: "Galano Grotesque", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  background: transparent;
  line-height: normal;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 8px;
  overflow: hidden; /* Ensure the pseudo-element is contained within the button */
  border: none;
  cursor: pointer;
}

.signin-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--Primary-Sea-Blue);
  opacity: 0.15; /* Set the desired opacity */
  z-index: -1; /* Place it behind the text */
  border-radius: 8px; /* Match the border-radius of the button */
}
.dash {
  display: flex;
  width: 98%;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  line-height: 2;
}

.dash img {
  width: 47%;
  height: 1px;
}

form h2 {
  color: #252525;
  text-align: start;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
}

@media (max-width: 1280px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  .nav-logo img {
    width: 180px;
    height: 47px;
    margin-left: 22px;
    flex-shrink: 0;
  }
  .nav-btn {
    width: 100px;
    height: 40px;
    background: var(--Primary-Sea-Blue);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 22px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .nav-btn:hover {
    background: #294fd9;
  }
  main {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-column,
  .right-column {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 1; /* Ensure they overlap the middle column */
  }
  .left-column {
    left: 0;
    width: 120px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right-column {
    right: 0;
    width: 120px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .middle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 65vw;
    height: 100%;
    position: relative; /* Ensure it overlaps the left and right columns */
    z-index: 2;

    p {
      color: var(--dark);
      margin-top: 10px;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    form {
      display: flex;
      gap: 20px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .name {
        display: flex;
        width: 100%;
        gap: 20px;
        input {
          flex: 1;
        }
      }

      .login-btn {
        background: var(--Primary-Sea-Blue);
        color: var(--white);
        text-align: center;
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .signin-btn {
        opacity: 0.15;
        width: 100%;
        background: var(--Primary-Sea-Blue);
        color: var(--Primary-Night-Blue);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      button {
        box-sizing: border-box;
        width: 100%;
        height: 48px;
      }

      h2 {
        color: #252525;
        text-align: start;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid var(--Neutral-Grey);
        height: 22px;
      }
    }
  }

  .heading {
    color: var(--dark);
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 52px */
  }

  .dash {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    line-height: 2;

    img {
      width: 48%;
      height: 1px;
    }
  }
}

@media (max-width: 760px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  .nav-logo img {
    width: 120px;
    height: 47px;
    margin-left: 22px;
    flex-shrink: 0;
  }
  .nav-btn {
    width: 90px;
    height: 40px;
    background: var(--Primary-Sea-Blue);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 22px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .nav-btn:hover {
    background: #294fd9;
  }
  main {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-column,
  .right-column {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 1; /* Ensure they overlap the middle column */
  }
  .left-column {
    left: 0;
    width: 100px;
  }

  .left-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .right-column {
    right: 0;
    width: 100px;
  }

  .right-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .middle-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 80vw;
    height: 100%;
    position: relative; /* Ensure it overlaps the left and right columns */
    z-index: 2;

    p {
      color: var(--dark);
      margin-top: 10px;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    form {
      display: flex;
      gap: 20px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .name {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      }

      h2 {
        color: #252525;
        text-align: start;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid var(--Neutral-Grey);
        height: 22px;
      }

      button {
        box-sizing: border-box;
        width: 100%;
        height: 48px;
      }
    }
  }

  .heading {
    color: var(--dark);
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 52px */
  }

  .login-btn {
    background: var(--Primary-Sea-Blue);
    color: var(--white);
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .signin-btn {
    background: var(--Primary-Sea-Blue);
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .dash {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    line-height: 2;

    img {
      width: 48%;
      height: 1px;
    }
  }
}
