* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  height: 818px;
  overflow: scroll;
  font-family: "Galano Grotesque", sans-serif;
}
:root {
  --Primary-Night-Blue: #2e279d;
  --Primary-Sea-Blue: #4d6ee4;
  --Secondary-Sky-Blue: #46c2e6;
}
.container {
  display: flex;
}
.sidebar {
  background: var(--Primary-Night-Blue);
  width: 304px;
  min-height: 818px;
  flex-shrink: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  padding-left: 41px;
}
.sidebar ul li {
  display: flex;
  gap: 29px;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  opacity: 0.8;
}
.sidebar ul li img {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}
.sidebar-top {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 304px;
  height: 84px;
  flex-shrink: 0;
  background: var(--Primary-Sea-Blue);
  margin-bottom: 79px;
}
.sidebar-top .img-1 {
  width: 47.102px;
  height: 47px;
  flex-shrink: 0;
}
.sidebar-top .img-2 {
  width: 169px;
  height: 47px;
  flex-shrink: 0;
}
.sidebar-top .line {
  width: 1px;

  height: 37px;
  background: #fff;
}
nav {
  width: calc(1440px - 304px);
  height: 84px;
  flex-shrink: 0;
  background: #f4fcfe;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-column {
  color: #252525;
  font-size: 24px;
  font-style: normal;
  margin-left: 61px;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}
.right-column {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 30px;
}
.create-new-btn {
  width: 131px;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Primary-Sea-Blue);
}
.create-new-btn span {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.notification img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.profile-container {
  display: flex;
  flex-direction: column;
}
.profile {
  display: flex;
  align-items: center;
  position: relative;
}
.profile-image {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 17px;
}
.profile-name {
  color: #252525;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
}
.profile-dropdown {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 3px;
}
.dropdown-menu {
  display: none;
}
.dropdown-menu.show {
  position: absolute;
  top: 65px;

  width: 125px;
  margin-top: 2px;
  padding: 15px;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  gap: 15px;
  z-index: 99;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(107, 107, 107, 0.08);
}
.dropdown-menu.show a {
  text-decoration: none;
  display: flex;
  color: #000;
  gap: 10px;
  align-items: center;
}
.top-container {
  width: 1055px;
  height: fit-content;
  flex-shrink: 0;
  margin: 20px 61px 20px 20px;
  border-radius: 8px;
  border: 1px solid rgba(112, 112, 112, 0.1);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(107, 107, 107, 0.08);
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 27px 40px;
  margin-bottom: 61px;
}
.heading h2 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
}
.dropdown-toggle {
  width: 71px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  outline: none;
  border: 0;
  opacity: 0.2;
  background: var(--Secondary-Sky-Blue);
}
.graph-wrapper {
  display: flex;
  align-items: center;
}
.graph-illustration {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.amount {
  margin-left: 40px;
  margin-bottom: 36px;
}
.amount ul {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 40px;
}
.amount ul li {
  list-style: none;
  color: #252525;
  text-align: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 13px */
}
.graph-illustration {
  width: 922px;
  margin-left: 17px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  stroke-width: 2.5px;
}
.graph-illustration img:first-child {
  margin-bottom: 40px;
}
.graph-illustration ul {
  margin-top: 10px;
  display: flex;
  gap: 62px;
  list-style: none;
  padding-bottom: 26px;
}
.graph-illustration ul li {
  color: #252525;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 13px */
}
.bottom-container {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  margin-bottom: 80px;
}
.left-bottom-column {
  width: 731px;
  height: 332px;
  padding: 24px 18px 26px 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(112, 112, 112, 0.1);
  position: relative;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(107, 107, 107, 0.08);
}
.right-bottom-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16.12px;
}
.invoice-container {
  background: var(--Secondary-Pale-Green, #dff6e4);
}
.general {
  width: 143.878px;
  height: 154.695px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(112, 112, 112, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(107, 107, 107, 0.08);
  background: #000;
}
.banking-container {
  background: var(--Secondary-Red, #e66346);
  box-shadow: 0px 4px 4px 0px rgba(107, 107, 107, 0.08);
}
.report-container {
  background: var(--Primary-Sea-Blue);
}
.estimates-container {
  background: var(--Secondary-Green, #46e6a3);
}

.left-container-headings {
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
}

.container-heading {
  cursor: pointer;
  padding-bottom: 5px;
  position: relative;
  color: #000;
  opacity: 0.6;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}
.container-heading.active {
  color: #000;
  font-size: 16px;
  font-style: normal;
  opacity: 1;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
}
.container-heading.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: blue;
  bottom: 0;
  left: 0;
}

.content {
  display: none;
}

.content-1 {
  display: flex;
  flex-direction: column;
}
.content-1-btn {
  display: flex;
  gap: 4px;
  color: #252525;
  padding: 4px 8px 4px 8px;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 13px */
  align-items: center;
  height: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 0;
  background: rgba(70, 194, 230, 0.2);
}
.wrapper-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  ul {
    list-style: none;
  }
}
.content.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-wrapper {
  display: flex;
  gap: 27px;
  align-items: center;
  justify-content: center;
}
.list-name {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.list-name li {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  color: #252525;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}
.list-name li::before {
  content: "●";
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
}
.list-name li h2 {
  color: #252525;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}
.purple::before {
  color: #b763eb;
}

.skyblue::before {
  color: #46c2e6;
}

.blue::before {
  color: #4d6ee4;
}

.green::before {
  color: #46e6a3;
}
.red::before {
  color: #e66346;
}
.list-amount {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style-type: none;
  margin-right: 42px;
  color: #252525;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}

.breakdown-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  padding: 0;
  position: absolute;
  top: 32px;
  border: none;
  height: 24px;
  margin-bottom: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgba(70, 194, 230, 0.2);
}
.breakdown {
  width: 259px;
  height: 186px;
  padding: 16px;
  flex-shrink: 0;
  border-radius: 8px;
}
.breakdown-wrapper {
  background: rgba(70, 230, 163, 0.05);
}
.breakdown-heading {
  display: flex;
  top: 0;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 8px;
  margin-bottom: 16px;
}

.breakdown-heading h3 {
  color: #252525;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}
.breakdown-content ul {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  gap: 8px 80px;
}
.breakdown-content ul li {
  white-space: nowrap;
}
.total {
  display: flex;
  justify-content: space-between;
  width: 259px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  align-items: center;
  margin-top: 8px;
  font-size: 14px;
  padding: 0 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}
.breakdown-total {
  background: var(--Secondary-Green, #46e6a3);
  color: #252525;
}
.expense-breakdown-total {
  background: var(--Secondary-Red, #e66346);
  color: #fff;
}
.expense-breakdown {
  background: rgba(230, 99, 70, 0.05);
}
.create-new-modal {
  width: 631px;
  height: 255px;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 25px 36px 36px 36px;
  border: 1px solid rgba(112, 112, 112, 0.1);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(107, 107, 107, 0.08);
}
.create-new-heading {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 21px;
}
.create-new-heading h3 {
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
}
.create-new-heading img {
  width: 15.91px;
  height: 15.91px;
  flex-shrink: 0;
}
.create-new-modal ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 84px;
  max-width: 512px;
  white-space: nowrap;
}
.create-new-modal ul li {
  list-style: none;
  display: flex;
  gap: 5px;
  color: #222;
  opacity: 0.7;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}
.item-9 {
  grid-column: 3;
  grid-row: 3 / span 5;
}
